# Data from NOAA and climod2
* https://www.ncdc.noaa.gov/cdo-web/
* http://climod2.nrcc.cornell.edu/
* Note:
    * T: Trace amount- Less than 0.01" precipitation; less than 0.1" snowfall; less than 1" snow depth.
    * S: Subsequent- Indicates the observation is missing, but is included in a subsequent value.
    * A: Accumulated- Indicates an accumulated value which includes the current day and any immediately preceeding missing days (starting with a day flagged by "S").
    * M: Missing.

___

# Importing Libraries and Data

In [142]:
import pandas as pd
import numpy as np
import matplotlib as plt
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import os
sns.set()

# Import NOAA data and grab useful columns

In [143]:
df = pd.read_csv('Bradley_1_8_1942_2_8_2023.csv', skipinitialspace = True)

In [144]:
df = df.drop(['STATION'], axis = 1)

In [145]:
df = df.drop(['NAME'], axis = 1)

In [146]:
df['Year'] = pd.DatetimeIndex(df['DATE']).year
df['Month'] = pd.DatetimeIndex(df['DATE']).month
df['Day'] = pd.DatetimeIndex(df['DATE']).day

In [147]:
df = df.sort_values(by=['DATE'])

In [148]:
for col in df.columns:
    print(col,'percent NaN:', df[col].isna().sum()/len(df))

DATE percent NaN: 0.0
ACMH percent NaN: 0.5988958824149935
ACSH percent NaN: 0.5987200675129224
AWND percent NaN: 0.4979078026653539
FMTM percent NaN: 0.6431660747564963
FRGT percent NaN: 0.9998593480783431
GAHT percent NaN: 0.9998945110587574
PGTM percent NaN: 0.5575090544674567
PRCP percent NaN: 0.0483842610499666
PSUN percent NaN: 0.7560040789057281
SNOW percent NaN: 0.12792292274693204
SNWD percent NaN: 0.30440592144590173
TAVG percent NaN: 0.7311086887724604
TMAX percent NaN: 0.04901719469742255
TMIN percent NaN: 0.04898203171700834
TSUN percent NaN: 0.5607088856851506
WDF1 percent NaN: 0.8460916347269595
WDF2 percent NaN: 0.6551566510777453
WDF5 percent NaN: 0.655754421744787
WDFG percent NaN: 0.7296670065754773
WDFM percent NaN: 0.7532965294138331
WESD percent NaN: 0.9402229332958262
WSF1 percent NaN: 0.846021308766131
WSF2 percent NaN: 0.6551566510777453
WSF5 percent NaN: 0.655754421744787
WSFG percent NaN: 0.729456028692992
WSFM percent NaN: 0.7532965294138331
WT01 percent NaN: 0.6350785892612257
WT02 percent NaN: 0.94883786349731
WT03 percent NaN: 0.9468687365941137
WT04 percent NaN: 0.9746474911213474
WT05 percent NaN: 0.997925384155561
WT06 percent NaN: 0.9798164492422378
WT07 percent NaN: 0.9999648370195858
WT08 percent NaN: 0.8146910932170611
WT09 percent NaN: 0.9954639755265656
WT11 percent NaN: 0.9992615774113014
WT12 percent NaN: 0.9999648370195858
WT13 percent NaN: 0.9075213615106016
WT14 percent NaN: 0.967052287351876
WT15 percent NaN: 0.9969759836843771
WT16 percent NaN: 0.6768522099933191
WT17 percent NaN: 0.9943035971728964
WT18 percent NaN: 0.8958824149934949
WT19 percent NaN: 0.9971166356060339
WT21 percent NaN: 0.9991209254896445
WT22 percent NaN: 0.9957101163894652
WV01 percent NaN: 0.9998593480783431
WV03 percent NaN: 0.9999296740391715
Year percent NaN: 0.0
Month percent NaN: 0.0
Day percent NaN: 0.0

# Drop
* ['ACMH ','ACSH ','AWND','FMTM','FRGT','GAHT','PGTM','PSUN','TSUN','WDF1','WDF2','WDF5','WDFG', 'WDFM','WESD','WSF1','WSF2','WSF5','WDFG','WDFM','WESD','WSF1','WSF2','WSF5','WSFG','WSFM', 'WT01','WT02','WT03','WT04','WT05','WT06','WT07','WT08','WT09', 'WT11','WT12','WT13','WT14','WT15','WT16','WT17','WT18','WT19', 'WT21','WT22','WV01','WV03']

# Keep
* DATE,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WDF1,WDF2,WDF5,WDFG,WDFM,
WESD,WSF1,WSF2,WSF5,WSFG,WSFM,WT01,WT08,WT16,Year,Month,Da

In [149]:
df = df.drop(['ACMH','ACSH','AWND','FMTM','FRGT','GAHT','PGTM','PSUN','TSUN','WDF1',
              'WDF2','WDF5','WDFG', 'WDFM','WESD','WSF1','WSF2','WSF5','WDFG','WDFM',
              'WESD','WSF1','WSF2','WSF5','WSFG','WSFM', 'WT01','WT02','WT03','WT04',
              'WT05','WT06','WT07','WT08','WT09', 'WT11','WT12','WT13','WT14','WT15',
              'WT16','WT17','WT18','WT19', 'WT21','WT22','WV01','WV03'], axis = 1).copy()

In [150]:
df.shape

(28439, 10)

In [151]:
for col in df.columns:
    print(col,'percent NaN:', df[col].isna().sum()/len(df))

DATE percent NaN: 0.0
PRCP percent NaN: 0.0483842610499666
SNOW percent NaN: 0.12792292274693204
SNWD percent NaN: 0.30440592144590173
TAVG percent NaN: 0.7311086887724604
TMAX percent NaN: 0.04901719469742255
TMIN percent NaN: 0.04898203171700834
Year percent NaN: 0.0
Month percent NaN: 0.0
Day percent NaN: 0.0

In [152]:
# lowercase all columns
df.columns = [x.lower() for x in df.columns]

# End Getting NOAA Data

___

# Import Cornell data and get useful columns

In [153]:
df_cornell = pd.read_csv('Bradley_Cornell_1_1_1940_2_13_2023.txt', sep=',', header=0)

In [154]:
df_cornell.columns = [i.replace(' ','') for i in df_cornell.columns]

In [155]:
df_cornell = df_cornell.sort_values(by=['Date'])

In [156]:
df_cornell.iloc[0,]

Date                       1940-01-01
MaxTemperature                      M
MaxTemperatureNormal             36.6
MaxTemperatureDeparture             M
MinTemperature                      M
MinTemperatureNormal             20.8
MinTemperatureDeparture             M
AvgTemperature                      M
AvgTemperatureNormal             28.7
AvgTemperatureDeparture             M
AtObsTemperature                    M
Precipitation                       M
PrecipitationNormal              0.11
PrecipitationDeparture              M
Snowfall                            M
SnowfallNormal                    0.4
SnowfallDeparture                   M
SnowDepth                           M
HDD                                 M
HDDNormal                        36.3
HDDDeparture                        M
CDD                                 M
CDDNormal                         0.0
CDDDeparture                        M
GDD                                 M
Name: 0, dtype: object

In [157]:
df_cornell['Year'] = pd.DatetimeIndex(df_cornell['Date']).year
df_cornell['Month'] = pd.DatetimeIndex(df_cornell['Date']).month
df_cornell['Day'] = pd.DatetimeIndex(df_cornell['Date']).day

In [158]:
for col in df_cornell.columns:
    print(col,'percent NaN:', df_cornell[col].isna().sum()/len(df_cornell))

Date percent NaN: 0.0
MaxTemperature percent NaN: 0.0
MaxTemperatureNormal percent NaN: 0.0
MaxTemperatureDeparture percent NaN: 0.0
MinTemperature percent NaN: 0.0
MinTemperatureNormal percent NaN: 0.0
MinTemperatureDeparture percent NaN: 0.0
AvgTemperature percent NaN: 0.0
AvgTemperatureNormal percent NaN: 0.0
AvgTemperatureDeparture percent NaN: 0.0
AtObsTemperature percent NaN: 0.0
Precipitation percent NaN: 0.0
PrecipitationNormal percent NaN: 0.0
PrecipitationDeparture percent NaN: 0.0
Snowfall percent NaN: 0.0
SnowfallNormal percent NaN: 0.0
SnowfallDeparture percent NaN: 0.0
SnowDepth percent NaN: 0.0
HDD percent NaN: 0.0
HDDNormal percent NaN: 0.0
HDDDeparture percent NaN: 0.0
CDD percent NaN: 0.0
CDDNormal percent NaN: 0.0
CDDDeparture percent NaN: 0.0
GDD percent NaN: 0.0
Year percent NaN: 0.0
Month percent NaN: 0.0
Day percent NaN: 0.0

In [159]:
df_cornell.head(1)

,Date,MaxTemperature,MaxTemperatureNormal,MaxTemperatureDeparture,MinTemperature,MinTemperatureNormal,MinTemperatureDeparture,AvgTemperature,AvgTemperatureNormal,AvgTemperatureDeparture,...,HDD,HDDNormal,HDDDeparture,CDD,CDDNormal,CDDDeparture,GDD,Year,Month,Day
0,1940-01-01,M,36.6,M,M,20.8,M,M,28.7,M,...,M,36.3,M,M,0.0,M,M,1940,1,1

In [160]:
df_cornell.iloc[0,1]

' M'

In [161]:
for col in df_cornell.columns:
    print(col, len(df_cornell[df_cornell[col].isin([' M'])])/len(df_cornell))

Date 0.0
MaxTemperature 0.10912384716732543
MaxTemperatureNormal 0.0
MaxTemperatureDeparture 0.10912384716732543
MinTemperature 0.10909090909090909
MinTemperatureNormal 0.0
MinTemperatureDeparture 0.10909090909090909
AvgTemperature 0.10922266139657444
AvgTemperatureNormal 0.0
AvgTemperatureDeparture 0.10922266139657444
AtObsTemperature 1.0
Precipitation 0.10843214756258235
PrecipitationNormal 0.000691699604743083
PrecipitationDeparture 0.10902503293807642
Snowfall 0.18158761528326745
SnowfallNormal 0.000691699604743083
SnowfallDeparture 0.18214756258234518
SnowDepth 0.2326086956521739
HDD 0.10922266139657444
HDDNormal 0.0
HDDDeparture 0.10922266139657444
CDD 0.10922266139657444
CDDNormal 0.0
CDDDeparture 0.10922266139657444
GDD 0.10922266139657444
Year 0.0
Month 0.0
Day 0.0

In [162]:
for col in df_cornell.columns:
    print(col, len(df_cornell[df_cornell[col].isin([' T'])])/len(df_cornell))

Date 0.0
MaxTemperature 0.0
MaxTemperatureNormal 0.0
MaxTemperatureDeparture 0.0
MinTemperature 0.0
MinTemperatureNormal 0.0
MinTemperatureDeparture 0.0
AvgTemperature 0.0
AvgTemperatureNormal 0.0
AvgTemperatureDeparture 0.0
AtObsTemperature 0.0
Precipitation 0.12262845849802372
PrecipitationNormal 0.0
PrecipitationDeparture 0.0
Snowfall 0.056357048748353095
SnowfallNormal 0.0
SnowfallDeparture 0.0
SnowDepth 0.03593544137022398
HDD 0.0
HDDNormal 0.0
HDDDeparture 0.0
CDD 0.0
CDDNormal 0.0
CDDDeparture 0.0
GDD 0.0
Year 0.0
Month 0.0
Day 0.0

In [163]:
for col in df_cornell.columns:
    print(col, len(df_cornell[df_cornell[col].isin([' S'])])/len(df_cornell))

Date 0.0
MaxTemperature 0.0
MaxTemperatureNormal 0.0
MaxTemperatureDeparture 0.0
MinTemperature 0.0
MinTemperatureNormal 0.0
MinTemperatureDeparture 0.0
AvgTemperature 0.0
AvgTemperatureNormal 0.0
AvgTemperatureDeparture 0.0
AtObsTemperature 0.0
Precipitation 0.0
PrecipitationNormal 0.0
PrecipitationDeparture 0.0
Snowfall 0.0
SnowfallNormal 0.0
SnowfallDeparture 0.0
SnowDepth 0.0
HDD 0.0
HDDNormal 0.0
HDDDeparture 0.0
CDD 0.0
CDDNormal 0.0
CDDDeparture 0.0
GDD 0.0
Year 0.0
Month 0.0
Day 0.0

In [164]:
for col in df_cornell.columns:
    print(col, len(df_cornell[df_cornell[col].isin([' A'])])/len(df_cornell))

Date 0.0
MaxTemperature 0.0
MaxTemperatureNormal 0.0
MaxTemperatureDeparture 0.0
MinTemperature 0.0
MinTemperatureNormal 0.0
MinTemperatureDeparture 0.0
AvgTemperature 0.0
AvgTemperatureNormal 0.0
AvgTemperatureDeparture 0.0
AtObsTemperature 0.0
Precipitation 0.0
PrecipitationNormal 0.0
PrecipitationDeparture 0.0
Snowfall 0.0
SnowfallNormal 0.0
SnowfallDeparture 0.0
SnowDepth 0.0
HDD 0.0
HDDNormal 0.0
HDDDeparture 0.0
CDD 0.0
CDDNormal 0.0
CDDDeparture 0.0
GDD 0.0
Year 0.0
Month 0.0
Day 0.0

# Keep:
* Date, MaxTemperature, MinTemperature, AvgTemperature, AtObsTemperature, Precipitation, Snowfall, SnowDepth,
* Year, Month, Day
# Drop: 
* MaxTemperatureNormal, MaxTemperatureDeparture, MinTemperatureNormal, MinTemperatureDeparture, AvgTemperatureNormal
* AvgTemperatureDeparture, PrecipitationNormal, PrecipitationDeparture, SnowfallNormal, SnowfallDeparture
* HDD, HDDNormal, HDDDeparture, CDD, CDDNormal, CDDDeparture, GDD

In [165]:
df_cornell.shape

(30360, 28)

In [166]:
df_cornell.columns

Index(['Date', 'MaxTemperature', 'MaxTemperatureNormal',
       'MaxTemperatureDeparture', 'MinTemperature', 'MinTemperatureNormal',
       'MinTemperatureDeparture', 'AvgTemperature', 'AvgTemperatureNormal',
       'AvgTemperatureDeparture', 'AtObsTemperature', 'Precipitation',
       'PrecipitationNormal', 'PrecipitationDeparture', 'Snowfall',
       'SnowfallNormal', 'SnowfallDeparture', 'SnowDepth', 'HDD', 'HDDNormal',
       'HDDDeparture', 'CDD', 'CDDNormal', 'CDDDeparture', 'GDD', 'Year',
       'Month', 'Day'],
      dtype='object')

In [167]:
df_cornell = df_cornell.drop(['MaxTemperatureNormal','MaxTemperatureDeparture','MinTemperatureNormal',
                             'MinTemperatureDeparture','AvgTemperatureNormal','AvgTemperatureDeparture',
                             'PrecipitationNormal', 'PrecipitationDeparture','SnowfallNormal', 'SnowfallDeparture',
                             'HDD', 'HDDNormal','HDDDeparture', 'CDD', 'CDDNormal', 'CDDDeparture', 'GDD'], axis = 1).copy()

In [168]:
df_cornell.shape

(30360, 11)

In [169]:
# lowercase all columns
df_cornell.columns = [x.lower() for x in df_cornell.columns]

# End Getting Cornell Data

___

# Check date range and make sure the same

In [170]:
df_cornell.iloc[0,0]

'1940-01-01'

In [171]:
type(df_cornell.iloc[0,0])

str

In [172]:
df.iloc[0,0]

'1942-01-08'

In [173]:
type(df.iloc[0,0])

str

In [174]:
print(df.date.min())
print(df.date.max())
print(df_cornell.date.min())
print(df_cornell.date.max())

1942-01-08
2023-02-08
1940-01-01
2023-02-13

In [175]:
df = df[(df['date'] >= '1943-01-01') & (df['date'] < '2023-01-01')].copy()

In [176]:
df_cornell = df_cornell[(df_cornell['date'] >= '1943-01-01') & (df_cornell['date'] < '2023-01-01')].copy()

In [177]:
df.head(2)

           date  prcp  snow  snwd  tavg  tmax  tmin  year  month  day
356  1943-01-01   NaN   NaN   NaN  30.0   NaN   NaN  1943      1    1
357  1943-01-02   NaN   NaN   NaN  25.0   NaN   NaN  1943      1    2

In [178]:
df_cornell.head(2)

,date,maxtemperature,mintemperature,avgtemperature,atobstemperature,precipitation,snowfall,snowdepth,year,month,day
1096,1943-01-01,M,M,M,M,M,M,M,1943,1,1
1097,1943-01-02,M,M,M,M,M,M,M,1943,1,2

In [179]:
print(df.shape)
print(df_cornell.shape)

(28044, 10)
(29220, 11)

### NOAA is missing data or Cornell has duplicate dates

In [180]:
for noaa, cornell in zip(df.date, df_cornell.date):
    if noaa != cornell:
        print(noaa, cornell)
        break

1949-01-01 1945-10-15

In [181]:
print(len(set(df.date)))
print(len(set(df_cornell.date)))

28044
29220

In [182]:
date_diff = set(df_cornell.date).difference(set(df.date))
print(len(date_diff))
print(len(set(df_cornell.date))-len(set(df.date)))

1176
1176

In [183]:
df_cornell[(df_cornell['date']>='1945-10-12') & (df_cornell['date']<'1945-10-22')]

,date,maxtemperature,mintemperature,avgtemperature,atobstemperature,precipitation,snowfall,snowdepth,year,month,day
2111,1945-10-12,M,M,M,M,M,M,M,1945,10,12
2112,1945-10-13,M,M,M,M,M,M,M,1945,10,13
2113,1945-10-14,M,M,M,M,M,M,M,1945,10,14
2114,1945-10-15,M,M,M,M,M,M,M,1945,10,15
2115,1945-10-16,M,M,M,M,M,M,M,1945,10,16
2116,1945-10-17,M,M,M,M,M,M,M,1945,10,17
2117,1945-10-18,M,M,M,M,M,M,M,1945,10,18
2118,1945-10-19,M,M,M,M,M,M,M,1945,10,19
2119,1945-10-20,M,M,M,M,M,M,M,1945,10,20
2120,1945-10-21,M,M,M,M,M,M,M,1945,10,21

In [188]:
df[(df['date']>='1945-10-12') & (df['date']<'1947-10-30')]

            date  prcp  snow  snwd  tavg  tmax  tmin  year  month  day
1371  1945-10-12   NaN   NaN   NaN  49.0   NaN   NaN  1945     10   12
1372  1945-10-13   NaN   NaN   NaN  53.0   NaN   NaN  1945     10   13
1373  1945-10-14   NaN   NaN   NaN  48.0   NaN   NaN  1945     10   14

In [191]:
# looks like some years are missing from NOAA
diff_years = set(df_cornell.year).difference(set(df.year))
print(diff_years)

{1946, 1947, 1948}

In [205]:
cor_46_47_48 = df_cornell[(df_cornell['date'] >= '1946-01-01') & (df_cornell['date'] < '1949-01-01')].copy()

In [206]:
cor_46_47_48

,date,maxtemperature,mintemperature,avgtemperature,atobstemperature,precipitation,snowfall,snowdepth,year,month,day
2192,1946-01-01,M,M,M,M,M,M,M,1946,1,1
2193,1946-01-02,M,M,M,M,M,M,M,1946,1,2
2194,1946-01-03,M,M,M,M,M,M,M,1946,1,3
2195,1946-01-04,M,M,M,M,M,M,M,1946,1,4
2196,1946-01-05,M,M,M,M,M,M,M,1946,1,5
...,...,...,...,...,...,...,...,...,...,...,...
3283,1948-12-27,M,M,M,M,M,M,M,1948,12,27
3284,1948-12-28,M,M,M,M,M,M,M,1948,12,28
3285,1948-12-29,M,M,M,M,M,M,M,1948,12,29
3286,1948-12-30,M,M,M,M,M,M,M,1948,12,30
3287,1948-12-31,M,M,M,M,M,M,M,1948,12,31

# Looks like there is a lot of missing value so let's check when actual data comes in

In [217]:
df_40s_dates = ['1940-01-01','1941-01-01','1942-01-01','1943-01-01','1944-01-01','1945-01-01',
               '1946-01-01','1947-01-01','1948-01-01','1949-01-01','1950-01-01']

In [220]:
df_40s_dates[1:]

['1941-01-01',
 '1942-01-01',
 '1943-01-01',
 '1944-01-01',
 '1945-01-01',
 '1946-01-01',
 '1947-01-01',
 '1948-01-01',
 '1949-01-01',
 '1950-01-01']

In [225]:
for start, end in zip(df_40s_dates[0:-1],df_40s_dates[1:]):
    df_40s = df[(df['date'] >= start) & (df['date'] < end)].copy()
    print(start)
    for col in df_40s.columns:
        print(col,'percent na: ',df_40s[col].isna().sum()/len(df_40s))

1940-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1941-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1942-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1943-01-01
date percent na:  0.0
prcp percent na:  1.0
snow percent na:  1.0
snwd percent na:  1.0
tavg percent na:  0.0
tmax percent na:  1.0
tmin percent na:  1.0
year percent na:  0.0
month percent na:  0.0
day percent na:  0.0
1944-01-01
date percent na:  0.0
prcp percent na:  1.0
snow percent na:  1.0
snwd percent na:  1.0
tavg percent na:  0.0
tmax percent na:  1.0
tmin percent na:  1.0
year percent na:  0.0
month percent na:  0.0
day percent na:  0.0
1945-01-01
date percent na:  0.0
prcp percent na:  1.0
snow percent na:  1.0
snwd percent na:  1.0
tavg percent na:  0.0
tmax percent na:  1.0
tmin percent na:  1.0
year percent na:  0.0
month percent na:  0.0
day percent na:  0.0
1946-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1947-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1948-01-01
date percent na:  nan
prcp percent na:  nan
snow percent na:  nan
snwd percent na:  nan
tavg percent na:  nan
tmax percent na:  nan
tmin percent na:  nan
year percent na:  nan
month percent na:  nan
day percent na:  nan
1949-01-01
date percent na:  0.0
prcp percent na:  0.0
snow percent na:  0.0
snwd percent na:  0.0
tavg percent na:  1.0
tmax percent na:  0.0027397260273972603
tmin percent na:  0.0
year percent na:  0.0
month percent na:  0.0
day percent na:  0.0

C:\Users\mpica\AppData\Local\Temp/ipykernel_19360/2841932838.py:5: RuntimeWarning: invalid value encountered in longlong_scalars
  print(col,'percent na: ',df_40s[col].isna().sum()/len(df_40s))

In [ ]:
# NOAA
* Dropped Data for 1940 to 1942
* No data for 1946, 1947, 1948,
* 1943:
    * prcp percent na:  1.0
    * snow percent na:  1.0
    * snwd percent na:  1.0
    * tmax percent na:  1.0
    * tmin percent na:  1.0
* 1944
    * prcp percent na:  1.0
    * snow percent na:  1.0
    * snwd percent na:  1.0
    * tmax percent na:  1.0
    * tmin percent na:  1.0
* 1945
    * prcp percent na:  1.0
    * snow percent na:  1.0
    * snwd percent na:  1.0
    * tmax percent na:  1.0
    * tmin percent na:  1.0
* 1949
    * tavg percent na:  1.0
    * tmax percent na:  0.0027397260273972603